#root {
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

/* layout */

.layout {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* button */

.button-container {
  display: inline-block;
  padding: 1.5rem;
  border-radius: 2.75rem;
  font-size: 20px;
}

/* hero title */

.hero-container .heading-title {
  font-size: 32px;
  font-weight: 500;
  padding: 2rem 0;
}

.hero-container .heading-title .grey-band {
  color: #888;
}

/* Project section */

.project-container {
  padding: 5rem 0;
}

/* Card */

.card-container {
  max-width: 615px;
}

.card-container .thumbnail {
  background:#888;
  width:100%;
  height: 15rem;
  border-radius: 1.75rem;
}

.card-container .thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 1.75rem;
}

.card-container .company {
  font-size: 18px;
  color: #888;
  margin: 1rem 0 0 0;
}

.card-container .project-name {
  font-size: 20px;
  margin: 0 auto 16px;
}

.card-container .project-source {
  float: right;
  font-size: 20px;
}

.card-container .project-source a {
  color: #000;
}

.card-container .card {
  position: relative;
}

.card-container .card .card-button-container button{
  display: none;
}

/* tech stack */

.tech-container  {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  padding: 5rem 0;
}

.tech-container .icon {
  font-size: 4rem;
  cursor: pointer;
}

.tech-container .icon img {
  width: 8rem;
}

/* Footer */

footer {
  background: #000;
  color: #fff;
}

footer .footer-content, header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

footer .footer-content .contact h2 {
  font-size: 52px;
  font-weight: 400;
}

footer .footer-content .social-links ul {
  padding: 0;
}

footer .footer-content .social-links ul li {
  display: block;
  padding: 0.5rem 0;
}

footer .footer-content .social-links ul li a {
  color: #fff;
  font-size: 18px;
}

/* header */

header nav {
  display: flex;
  justify-content: space-between;
}

header nav .nav-items {
  display: none;
}

header nav .nav-items ul li a {
  color: #000;
  font-size: 20px;
}

header nav .nav-items ul li a:hover {
  text-decoration: underline;
}

header nav .logo {
  margin-top: 5px;
}

header nav .logo img {
  width: 60px;
}

header nav .mobile-menu-items {
  position: relative;
  top: 2rem;
}

header nav .mobile-menu-items ul {
  text-align: center;
}

header nav .mobile-menu-items ul li {
  list-style: none;
  padding: 1rem 0;
}

header nav .mobile-menu-items ul li a {
  color: #000;
}

@media screen and (min-width: 500px) {
  .hero-container .heading-title {
    font-size: 52px;
  }

  .project-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 28px;
  }

  .card-container .thumbnail {
    height: 25rem;
  }

  .tech-container  {
    grid-template-columns: auto auto auto auto;
  }

  header nav .nav-items {
    display: block;
  }

  header nav .nav-items ul {
    display: flex;
    gap: 3rem;
    list-style: none;
  }

  header nav .menu-items {
    display: none;
  }

  .card-container .project-source {
    display: none;
  }

  .card-container .card .card-button-container {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.75rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card-container .card:hover .card-button-container {
    opacity: 1;
  }

  .card-container .card .card-button-container button{
    display: block;
  }

}

@media screen and (min-width: 1024px) {
  .hero-container .heading-title {
    font-size: 64px;
  }

  .button-container {
    font-size: 28px;
  }

  footer {
    padding: 0 0 12rem 0;
  }

  header nav .nav-items ul {
    gap: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  footer .footer-content {
    display: flex;
    gap: 15rem;
  }
}
